<div class="container">
    <form class="auth-form">
        <h1 class="auth-form__title">Вход</h1>

        {{> Input id="login-username" class="auth-form__input" type="login" placeholder="Логин" name="login"}}
        {{> Input id="login-password" class="auth-form__input" type="password" placeholder="Пароль" name="password"}}
        
        {{> Button id="submit-btn"  class="auth-form__btn login-btn" text="Авторизироваться"}}

        {{> Link href="#" class="auth-form__link" page="register" text="Нет аккаунта?"}}
    </form>
</div>

