<div class="container cheatpages-container">
{{> Link href="#" class="auth-form__link cheatpages" page="login" text="Вход"}}
{{> Link href="#" class="auth-form__link cheatpages" page="register" text="Регистрация?"}}
{{> Link href="#" class="auth-form__link cheatpages" page="error404" text="Ошибка 404"}}
{{> Link href="#" class="auth-form__link cheatpages" page="error500" text="Ошибка 500?"}}
{{> Link href="#" class="auth-form__link cheatpages" page="main" text="Главная"}}
{{> Link href="#" class="auth-form__link cheatpages" page="profile" text="Профиль"}}
{{> Link href="#" class="auth-form__link cheatpages" page="editProfile" text="Редактировать информацию профиля"}}
{{> Link href="#" class="auth-form__link cheatpages" page="editPassword" text="Изменение пароля"}}
</div>
