<div class="container cheatpages-container">
    <nav class="cheatpages-list-wrapper">
        <ul class="cheatpages-list">
            <li class="cheatpages-list__page">
                {{> Link href="#" class="cheatpages-list__page_link" page="login" text="Вход"}}
            </li>
            <li class="cheatpages-list__page">
                {{> Link href="#" class="cheatpages-list__page_link" page="register" text="Регистрация?"}}
            </li>
            <li class="cheatpages-list__page">
                {{> Link href="#" class="cheatpages-list__page_link" page="error404" text="Ошибка 404"}}
            </li>
            <li class="cheatpages-list__page">
                {{> Link href="#" class="cheatpages-list__page_link" page="error500" text="Ошибка 500"}}
            </li>
            <li class="cheatpages-list__page">
                {{> Link href="#" class="cheatpages-list__page_link" page="main" text="Главная"}}
            </li>
            <li class="cheatpages-list__page">
                {{> Link href="#" class="cheatpages-list__page_link" page="profile" text="Профиль"}}
            </li>
            <li class="cheatpages-list__page">
                {{> Link href="#" class="cheatpages-list__page_link" page="editProfile" text="Редактировать информацию профиля"}}
            </li>
            <li class="cheatpages-list__page">
                {{> Link href="#" class="cheatpages-list__page_link" page="editPassword" text="Изменение пароля"}}
            </li>
        </ul>
    </nav>
</div>

