<div class="flex-wrapper">
    <div class="link-back">
        {{> Link href="#" class="chats-menu-nav__profile-link" page="profile" img="/images/arrow.png" img-class="chats-menu-nav__profile-link_img" img-alt="#" text=""}}
    </div>
    <form class="profile-data">
        {{> Link href="#" class="profile-data__avatar-link" page="#" img="/images/default-avatar.png" img-class="profile-data__avatar-link_img" img-alt="#" text=""}}

        {{> ProfileDataItem title="Старый пароль" value="······" name="oldPassword" type="password" editable=true}}
        {{> ProfileDataItem title="Новый пароль" value="········" name="newPassword" type="password" editable=true}}
        {{> ProfileDataItem title="Повторите новый пароль" value="········" name="repeatNewPassword" type="password" editable=true}}

        {{> Button id="edit-password-btn" class="profile-data__submit-btn" text="Сохранить"}}
    </form>
</div>

